/* Contrôler la couleur du code inline */
code {
    color: #c7254e;
    background-color: #f9f2f4 !important;
}
pre > code[class="r hljs remark-code"] {
    background-color: #eaeaea !important;
}
pre > code[class="remark-code"] > div[class="remark-code-line"] {
    background-color: #f6f6f6 !important;
}
.auteurs p {
  margin-top: 10px;
}
.remark-code {
  font-size: 16px;
}
ol > li {
  margin-top: 1em;
}
li li {
  margin-top: 0;
}

h2 {
  margin-bottom: 1.5rem;
}

.remark-slide-content {
  padding: 1em 4em 1em 2em;
}

.title-slide {
  background-image: url('resources/logo-utilitr.png');
}
.title-slide h2 {
  text-align: center;
  text-align-last: center;
}
.indent{
  padding: 10px;
  margin-right: 1cm;
}
.sauterligne{
  margin-top: 1em;
}
.sauterligne2{
  margin-top: 2em;
}
.sauterligne3{
  margin-top: 3em;
}
.laisserligne{
  margin-bottom: 1em;
}
.big{
  font-size: 150%;
}
.small90{
  font-size: 90%;
}
.small90 code {
  font-size: 14px;
}
.small80{
  font-size: 80%;
}
.small70{
  font-size: 70%;
}
.small60{
  font-size: 60%;
}


table {
  margin: auto;
  text-align: left;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  margin-top: 10px;
  margin-bottom: 20px;
  /* Cette option évite la coupure des tableaux sur deux tables
  Attention: elle fait planter la compilation si un tableau est très long
  */
  break-inside: avoid;
}
table thead th {
  border-bottom: 1px solid #ddd;
}
/* Centrer les titres des tableaux */
thead {
  text-align: center;
  text-align-last: center;
}

td[style*="text-align:center;"] {
  text-align:center;
  text-align-last:center;
}
td[style*="text-align:left;"] {
  text-align:left;
  text-align-last:left;
}

td[style*="text-align:right;"] {
  text-align:right;
  text-align-last:right;
}
td[style*="text-align:justify;"] {
  text-align:justify;
  text-align-last:justify;
}

table td, table th {
  padding: 3px 5px 3px 5px;
}
thead, tfoot, tr:nth-child(even) {
  background: #eee;
}
table::first-line {
  font-weight: 900 ;
}
table code {
  background-color:   transparent;
}
.table th, .table td {
  vertical-align: middle;
  padding: 0.25rem;
}
/* Les marges des chunks dans les tableaux */
table pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5rem;
}
table::first-line {
  font-weight: 900 ;
}

table caption {
  font-weight: 900 ;
  margin-top: 15px;

  
img {
  display: inline-block;
}
.red {
  color: red;
}
.gray {
  color: gray;
  margin-top: -5px;
}
.gray ul {
  margin-top: 0;
}

.extraitdoc {
  -webkit-box-shadow: 5px 5px 15px 5px #999999 ;
  box-shadow: 5px 5px 15px 5px #999999 ;
  background-color: #EEF0E2;
  padding: 10px 10px 1px 10px;
}
