.Rproj.user
.Rhistory
.RData
.Ruserdata
libs/*
slides_files
slides.html
*.gitignore
*.Rproj
.Renviron
*.html

ateliers/*
!archives/build.R

public/*

# archives/*
archives/resources/*
archives/libs/*
archives/css/*
archives/**/resources
archives/**/css
archives/**/libs
!archives/*.Rmd
!archives/matinees2021/*.Rmd

soumissions/*.pdf
