.Rproj.user
.Rhistory
.RData
.Ruserdata
libs/*
slides_files
slides.html
*.gitignore
*.Rproj
.Renviron
*.html

ateliers/*
!archives/*.Rmd
!archives/build.R

public/*

archives/*
!archives/*.Rmd

soumissions/*.pdf
