.title-slide {
  background-image: url('resources/logo-utilitr.png');
  background-repeat: no-repeat;
  background-size: 4cm;
  background-color: white;
  background-position: 19cm 1cm;
  text-align-last: center;
  text-align: center;
  margin-right: 0;
  margin-left : 0;
  border-top: 0;

}

