name: Example output

on:
  push:
    branches-ignore:
      - master
      - main

jobs:
  bookdown-prod:
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-latest
    container: inseefrlab/utilitr:latest
    steps:
      - name: Checkout Repository
        env:
          GITHUB_PAT: ${{ secrets.PAT }}
        uses: actions/checkout@master
      - name: Install Dependencies
        run: |
          Rscript -e "install.packages(c('remotes'))"
          Rscript -e "remotes::install_deps(dependencies = TRUE)"
      - name: Render
        run: |
          mkdir -p public
          Rscript -e 'rmarkdown::render("slides-colab.Rmd")'
          mv slides-colab.html public/index.html
      - uses: actions/upload-artifact@v2
        with:
          name: Slides
          path: public/
          retention-days: 3
      - name: Les ateliers
        run: |
          mkdir -p atelier_out
          Rscript -e "source('ateliers/build.R')"
      - uses: actions/upload-artifact@v2
        with:
          name: Ateliers
          path: ateliers/
          retention-days: 3
      - name: Install npm
        if: ${{ github.repository == 'inseefrlab/utilitr-presentation' }}
        uses: actions/setup-node@v2
        with:
          node-version: '12'
      - name: Deploy to Netlify
        if: ${{ github.repository == 'inseefrlab/utilitr-presentation' }}
        # NETLIFY_AUTH_TOKEN and NETLIFY_SITE_ID added in the repo's secrets
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          BRANCHE_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          npm install --unsafe-perm=true netlify-cli -g
          netlify init
          netlify deploy --alias=${BRANCHE_REF} --dir="public" --message "Test deploy"
          netlify deploy --alias=testateliers --dir="ateliers" --message "Deploy test ateliers"


